*.iml
.cxx
.DS_Store
.externalNativeBuild

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.gradle

/build
/captures
/local.properties
